{% extends "layout.njk" %}

{% block content %}

    <section class="container form">
        <form id="form-edit" action="/products?_method=PUT" method="post">
            <div class="header">
                <h3>Editar Produto {{ productId }}</h3>
            </div>

            <div class="fields">
                {% include "products/fields.njk" %}
                <input type="hidden" name="id" value="{{ product.id }}">
            </div>

        </form>

        <form id="form-delete" action="/products?_method=DELETE" method="POST">
            <input type="hidden" name="id" value="{{ product.id }}">
        </form>

        <div class="buttons">
            <button class="button" form="form-edit" type="submit">Atualizar</button>
            <button class="button delete" form="form-delete" type="submit">Deletar</button>
        </div>

    </section>

    <script>
        const formDelete = document.querySelector('#form-delete')
        
        if(formDelete){
            formDelete.addEventListener("submit", function(envent){
                const confirmation = confirm("Deseja realmente deletar?")
                if(!confirmation) event.preventDefault()
            })
        }
    </script>

{% endblock %}